body {
  text-align: center;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  color: #3f4850;
}


.page-item {
  width: 45px !important;
  height: 40px !important;
  margin-bottom: 0px!important;
}

.centered {
  top: 30px;
    left: 27%;
    position: absolute;
    margin: 0;
}

.spinner {
  width: 15rem !important;
  height: 15rem !important;
  margin-top: 30%;
  margin-left: 45%;
}




ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}



.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
}

.photo-container ul img {
  width: 100%;
}



.photo-container .not-found {
  width: 100%;
}



.not-found {
  padding-top: 5%;
}

@media only screen and (max-width: 767px) {
 
  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
 
 .container {
    max-width: 960px;
    margin: auto;
  }
}


